<html class="sr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Thomas Freund- Student, Developer, Aspiring Entrepreneur</title>
  <meta name="description" content="Currently working as UK Head of Technology &amp; Education at Le Wagon, in London. I am a fullstack Ruby on Rails developer, self taught designer and teacher.">
  <meta property="og:title" content="Thomas Freund- Developer, Designer &amp; Teacher in London">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.thomasfreund.com/">
   <meta property="og:image" content="thomasfreund.com/websitepictures/logo2.svg">
    <meta property="og:description" content="Currently working as UK Head of Technology &amp; Education at Le Wagon, in London. I am a fullstack Ruby on Rails developer, self taught designer and teacher.">
     <meta property="og:site_name" content="Thomas Freund- Student, Developer, Aspiring Entrepreneur<">
      <link href="thomasfreund.com/websitepictures/logo2.svg" rel="icon" type="image/png">
       <link href="thomasfreund.com/websitepictures/logo2.svg" rel="stylesheet">
   </head>
   <body style="height: 100%;"> <main role="main" id="top"> <div class="navbar"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62px" height="39px" viewBox="0 0 62 39" version="1.1">
    <title>logo</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Desktop-HD" transform="translate(-163.000000, -21.000000)" fill-rule="nonzero"> <g id="logo" transform="translate(162.000000, 21.000000)"> <path d="M13.6960151,32.6897414 C13.7259657,32.6140222 13.7582976,32.5387229 13.7930428,32.463932 L27.5167009,2.92307818 C27.8522911,1.85122388 28.6181112,0.919030838 29.7125277,0.406782083 C29.8428796,0.345770041 29.9747819,0.292171739 30.1077623,0.2405814808 C31.0978606,-0.111726793 32.2234448,-0.0920808886 33.2524288,0.389541725 C34.3798113,0.917220422 35.1585035,1.89052354 35.4774077,3.00306943 L49.1719137,32.4811724 C50.1362563,34.5569674 49.2415333,37.0244177 47.1734941,37.9923769 C45.1054547,38.960336 42.6472236,38.0622576 41.6828812,35.9864624 L31.4784736,14.0209699 L23.782518,30.5868958 L32.7851789,30.5868958 C35.0670078,30.5868958 36.9167955,32.4436209 36.9167955,34.7340073 C36.9167955,37.0243938 35.0670078,38.8811189 32.7851789,38.8811189 L17.2916166,38.8811189 C15.0097878,38.8811189 13.16,37.0243938 13.16,34.7340073 C13.16,33.9906969 13.354825,33.2930611 13.6960151,32.6897414 Z" id="Combined-Shape" fill="#404042"></path>
      <path d="M9.73969093,11.4257269 L9.73969093,11.4257269 C12.0288417,11.425799 13.8845471,13.2815044 13.8846192,15.5706552 L13.8852394,35.2599234 C13.8853115,37.5488878 12.0297977,39.4045185 9.74083335,39.4045906 C9.74074631,39.4045906 9.74065928,39.4045906 9.74057224,39.4045906 L9.74057224,39.4045906 C7.45142143,39.4045185 5.59571606,37.5488131 5.59564396,35.2596623 L5.59502377,15.5703941 C5.59495167,13.2814297 7.45046546,11.425799 9.73942983,11.4257269 C9.73951686,11.4257269 9.7396039,11.4257269 9.73969093,11.4257269 Z" id="Rectangle" fill="#F07B3F" transform="translate(9.740132, 25.415159) rotate(25.000000) translate(-9.740132, -25.415159) "> </path>
      <path d="M54.0351954,11.0644339 L54.0351954,11.0644339 C56.7962355,11.0643618 59.0345593,13.3025686 59.0346314,16.0636087 C59.0346314,16.0637156 59.0346314,16.0638224 59.0346314,16.0639292 L59.0339482,34.043541 C59.0338433,36.80481 56.7954013,39.0432254 54.0341323,39.0432975 L54.0341323,39.0432975 C51.2730922,39.0433696 49.0347684,36.8051628 49.0346963,34.0441226 C49.0346963,34.0440158 49.0346963,34.043909 49.0346963,34.0438021 L49.0353795,16.0641904 C49.0354844,13.3029214 51.2739264,11.064506 54.0351954,11.0644339 Z" id="Rectangle" fill="#FFD460" transform="translate(54.034664, 25.053866) rotate(-25.000000) translate(-54.034664, -25.053866) "></path>
       </g>
     </g> </g> </svg>
     <a href="#getintouch" class="cta cta-secondary cta-xs">Get in touch</a>
   </div>

  <div class="banner">
   <div class="container">
    <h1>CAMBIANDOmv100%

      <span class="text-primary">Developer.</span> Designer. <span class="text-secondary">Teacher.</span>
    </h1>
    <p>I aspire to become an entrepreneur and to be able to impact 1000 people exponentially.
    Fullstack Ruby on Rails developer and an avid learner. Currently  I am a student at Technion ( Israel
    Institute of Technology) studying Mechanical Engineering and the Head of Technology of Optimo Fleet.</p>
     <a href="#aboutme" class="cta cta-primary">More about me</a>
   </div>
   <svg xmlns="http://www.w3.org/20 00/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="852px" height="755px" viewBox="0 0 852 755" version="1.1" id="dark" class="rellax" data-rellax-speed="-3" style="transform: translate3d(0px, 0px, 0px);"> <title>Rectangle</title> <desc>Created with Sketch.</desc> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.100678943"> <g id="Desktop-HD" transform="translate(-77.000000, -88.000000)" fill="#8C8C8D"> <rect id="Rectangle" transform="translate(502.935526, 465.125820) rotate(-50.000000) translate(-502.935526, -465.125820) " x="380.435526" y="-53.3741801" width="245" height="1037" rx="122.5"></rect> </g> </g> </svg> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="494px" height="928px" viewBox="0 0 494 928" version="1.1" id="orange" class="rellax" data-rellax-speed="-2" style="transform: translate3d(0px, 0px, 0px);"> <title>Rectangle</title> <desc>Created with Sketch.</desc> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.100678943"> <g id="Desktop-HD" transform="translate(-644.000000, -105.000000)" fill="#F07B3F"> <rect id="Rectangle" transform="translate(890.992116, 568.648389) rotate(20.000000) translate(-890.992116, -568.648389) " x="768.492116" y="83.6483886" width="245" height="970" rx="120.816512"></rect> </g> </g> </svg> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="862px" height="627px" viewBox="0 0 862 627" version="1.1" id="yellow" class="rellax" data-rellax-speed="4" style="transform: translate3d(0px, 0px, 0px);"> <title>Rectangle</title> <desc>Created with Sketch.</desc> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.100678943"> <g id="Desktop-HD" transform="translate(-246.000000, -110.000000)" fill="#FFD460"> <rect id="Rectangle" transform="translate(676.689962, 423.385861) rotate(60.000000) translate(-676.689962, -423.385861) " x="524.689962" y="-50.1141386" width="304" height="947" rx="152"></rect> </g> </g> </svg>
 </div>
 <div class="section section-light" id="aboutme">
  <div class="container"> <p>My name is Thomas Freund, whatever brings you here welcome! This is my personal website.</p> <br> <p>I was born and raised in Quito, Ecuador where I lived most of my life. After I graduated Cum Laude from high school I took the best decision in my life by taking a gap year. Throughout it I learned some German and travelled to Israel where I volunteered in a Kibbutz, went to the Israeli Army, went through the Barclays Accelerator programs for startups as an intern and finally attended the coding bootcamp Le Wagon and started as a fullstack  Ruby on Rails software developer. </p> <br> <p>I view education as a cornerstone in my life and being very inquisitive, I have always tried to get a closeup of experts in any given field. Currently, I am studying mechanical engineering in the Technion - Israel Institute of Technology.</p> <br> <p>
  I aspire to inspire others to innovate by becoming an entrepreneur who can provide value to others, just as I have had the opportunity of learning from people who love doing what they do and who make a difference around them too!</p>
   </div>
  </div>
    <div class="section">
      <div class="container">
        <h2 class="text-center">My work</h2>
        <div class="cards">
          <div class="column">
            <div class="card" data-sr-id="0" style="visibility: visible; opacity: 0;">
              <img src="/assets/images/hd-9dc96ac0.png" class="card-img" alt="Hd">
              <div class="card-content">
                <h3>Hoxton Digital</h3>
                 <p>Designed the website of Hoxton Digital agency.</p>
                 <div class="text-center">
                  <a href="https://dribbble.com/shots/6226022-Hoxton-Digital-Landing-page" class="cta cta-secondary cta-xxs" target="_blank">Check it out</a>
                </div>
              </div>
            </div>
            <div class="card" data-sr-id="2" style="visibility: visible; opacity: 0;">
             <img src="/assets/images/event-16e633d9.png" class="card-img" alt="Event"> <div class="card-content">
              <h3>Tick</h3> <p>Dribbble shot about a event management platform concept.</p>
              <div class="text-center">
                <a href="https://dribbble.com/shots/5693434-Event-management-platform" class="cta cta-secondary cta-xxs" target="_blank">Check it out</a>
              </div>
            </div>
          </div>
          <div class="card" data-sr-id="3" style="visibility: visible; opacity: 0;"> <img src="/assets/images/listo-686a707a.png" class="card-img" alt="Listo">
                 <div class="card-content">
                  <h3>Listo app</h3>
                  <p>A small side project I did for fun, a way to generate playlists on spotify based on specific festival artits.</p>
                    <div class="text-center">
                      <a href="http://www.listoapp.co/" class="cta cta-secondary cta-xxs" target="_blank">Check it out</a>
                    </div>
                  </div>
          </div>
                  <div class="section section-light">
                   <div class="container">
                    <h2 class="text-center">What I do</h2>
                    <div class="grid">
                     <div class="whatido">
                      <h3>Learn</h3>
                       <p>Everyday I realize that someone knows something that I want to expand my knowledge on, as a learner I seek those teachers, mentors,  or coaches.  </p>
                     </div>
                     <div class="whatido">
                      <h3>Code</h3>
                       <p>Having a passion for design, I love building new products from scratch. I mainly use Sketch to prototype ideas and I publish some of my work on Dribbble.</p>
                     </div>
                     <div class="whatido">
                      <h3>Ideas</h3>
                      <p>My favorite habit is to come with ideas that range from complex chemical processes for developing nitrogen compounds in Mars to pizza tower birthday cakes!</p>
                    </div>
                     <div class="whatido">
                      <h3>Share</h3>
                       <p>What is the sake of knowledge  and experience, if it is not used for the benefit of everyone? </p>
                        </div>
                     </div>
                   </div>
                 </div>
                  <div class="section">
                     <div class="section section-dark" id="getintouch">
                      <div class="top-link">
                        <a href="#top"> <i class="fas fa-caret-up"></i> </a>
                      </div>
                     <div class="container">
                      <h2 class="text-center">Get in touch</h2>
                      <p class="text-center">Feel free to connect with me on any of the following</p>
                      <div class="social">
                        <a href="https://dribbble.com/arthur-littm" target="_blank"> <i class="fab fa-dribbble-square"></i> </a>
                       <a href="https://github.com/arthur-littm" target="_blank"> <i class="fab fa-github-square"></i> </a> <a href="https://www.facebook.com/arthur.Iittmann" target="_blank"> <i class="fab fa-facebook-square"></i> </a>
                       <a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ" target="_blank"> <i class="fab fa-youtube-square"></i> </a>
                       <a href="https://www.linkedin.com/in/arthur-littmann/" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                     </div>
                   </div>
                 </div>
                <div class="footer"> <p>Designed &amp; Coded with <i class="fas fa-heart"></i> by Arthur Littmann</p> </div>

               </main>
               <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
               <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js">
               </script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.7.2/rellax.min.js">
               </script> <script src="https://unpkg.com/scrollreveal"></script> <script src="/assets/javascripts/effects-567dc381.js"></script>
               <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-125257993-1"></script>
               <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125257993-1');
      </script>
    </body>
</html>
